<head>
    <title>A quote a day</title>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" />
    <script src="/js/jquery-1.12.4.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="icon" href="/images/favicon.png" type="image/x-icon" />

    <head>

        <body>
            <div style="padding: 50px;margin: 100px;color: aliceblue;background-color: #607D8B;text-align: center;">
                <h1 id="quote">{{{quotes}}} - {{{credit}}}</h1>
            </div>
        </body>
